@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

:root {
  --color-white: #fff;
  --color-gray: #c4c4c4;
  --color-black: #000;
  --color-purple: #8000ff;
  --color-light-purple: #cf59e6;
  --color-light-blue: #6bc5f8;
  --transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  --fz-heading: 32px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  /* font: inherit; */
}

body {
  min-height: 100vh;
  overflow-x: hidden;
  background: #0a192f;
  color: white;
  font-family: "Poppins";
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

ul {
  list-style: none;
}

.navbar {
  position: sticky;
  background: #0a192f;
  padding: 1em;
  top: 0px;
  z-index: 11;
  padding: 0px 20px;
  width: 100%;
  height: 50px;
  background-color: rgba(10, 25, 47, 0.85);
  backdrop-filter: blur(10px);
  transition: var(--transition);
  filter: none !important;
  pointer-events: auto !important;
  user-select: auto !important;
}

.navbar .logo {
  text-decoration: none;
  font-weight: bold;
  color: #8892b0;
  font-size: 1.2em;
}

.navbar nav {
  display: none;
}

.navbar .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: space-between;
}

.navbar .mobile-menu {
  cursor: pointer;
}

.primary-nav li a:hover {
  color: cyan;
}

a {
  color: #8892b0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

section {
  padding: 3em 2em;
}

.hero {
  text-align: center;
}

.left-col .subhead {
  font-weight: bold;
  color: #8892b0;
  letter-spacing: 0.3em;
}

.left-col .bottom-head {
  font-weight: lighter;
  color: #ced5e8;
}

.left-col span {
  color: cyan;
}

.left-col h1 {
  font-size: 2.5em;
  line-height: 1.3em;
  margin-top: 0.2em;
  background: -webkit-linear-gradient(
    135deg,
    var(--color-light-blue),
    var(--color-light-purple),
    var(--color-light-blue),
    var(--color-light-purple)
  );
  background: linear-gradient(
    -45deg,
    var(--color-light-blue),
    var(--color-light-purple),
    var(--color-light-blue),
    var(--color-light-purple)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 400% 400%;
  -webkit-animation: gradient 3s ease infinite;
  animation: gradient 3s ease infinite;
}

.intro {
    margin: 0 1em;
    margin-top: -40px;  
}
.numbered-heading {
  color: #8892b0;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
  margin: 10px 0px 40px;
  width: 100%;
  font-size: clamp(26px, 5vw, var(--fz-heading));
  white-space: nowrap;
  line-height: 1.1;
}

hr {
  border: none;
  border: 0.2px solid #8892b0;
  margin-top: -35px;
  background-color: #8892b0;
  width: 40px;
}

.about {
  margin-top: 15px;
}

.about a {
  color: cyan;
  text-decoration: none;
}

.footer {
  background-color: #0e1e36;
  position: fixed;
  padding-bottom: 0;
  overflow-x: hidden;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.foot ul {
  display: flex;
  margin-top: 5px;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  font-size: small;
  padding-left: 80px;
  padding-right: 80px;
  /* display: inline-block; */
}

.link-list a {
  color: rgb(96, 255, 255);
}

.foot .copyright {
  margin-top: 20px;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-bottom: 20px;
  font-size: small;
}

nav.menu-btn {
    display: block;
  }
  
  nav {
    position: fixed;
    z-index: 999;
    width: 66%;
    right: 0;
    top: 0;
    background: #20272E;
    height: 100vh;
    padding: 1em;
  }
  
  nav ul.primary-nav {
    margin-top: 5em;
  }
  
  nav li a {
    color: white;
    text-decoration: none;
    display: block;
    padding: .5em;
    font-size: 1em;
    text-align: right;
  }
  
  nav li a:hover {
    font-weight: bold;
  }
  
  .mobile-menu-exit {
    float: right;
    margin: .5em;
    cursor: pointer;
  }

  .links li a img:hover {
    color: cyan;
    background-color: cyan;
    border-radius: 50%;
  }
  


@media only screen and (min-width: 768px) {
  .mobile-menu,
  .mobile-menu-exit {
    display: none;
  }
  .navbar .container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 180px auto;
    grid-template-columns: 180px auto;
    -webkit-box-pack: unset;
    -ms-flex-pack: unset;
    justify-content: unset;
  }
  .navbar nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    background: none;
    position: unset;
    height: auto;
    width: 100%;
    padding: 0;
  }
  .navbar nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navbar nav a {
    color: #8892b0;
    font-size: 1em;
    padding: 1.2em 1em;
  }
  .navbar nav ul.primary-nav {
    margin: 0;
  }
  .navbar nav li.current a {
    font-weight: bold;
    color: cyan;
  }

  .intro {
    margin: 0 10em 0 8em;
  }
  .footer {
    background-color: #0e1e36;
    position: fixed;
    left: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* margin-left: 10em; */
    /* margin-right: 10em; */
}

.foot {
  justify-content: space-between;
  align-items: center;
  width: 35em;
  /* padding-top: -; */
  margin-left: 18em;
  margin-bottom: 10px;
}

}

@media only screen and (min-width: 1080px) {
    .container {
      width: 1080px;
      margin: 0 auto;
    }
    section {
      padding: 1em 4em;
    }
    .hero .container {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      text-align: left;
    }
    .hero .container .left-col {
      margin: 3em 3em 0 5em;
    }
    .hero .container .left-col h1 {
      font-size: 3em;
      width: 90%;
    }

    .intro {
        position: fixed;
        font-size: 1.5em;
        margin: 1em 4em 0 3em;
        width: 80%;
    }

    .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        justify-content: center;
        align-items: center;
        width: 100%;
        /* padding-left: 110px; */
        /* margin-left: 30px; */
        /* margin-left: 20em; */
    }

    .foot {
      justify-content: space-between;
      align-items: center;
      width: 40em;
      margin-left: 15em;
    }
}

@media only screen and (min-width: 1450px) {
    .container {
        width: 1080px;
        margin: 0 auto;
      }
      section {
        padding: 1em 4em;
      }
      .hero .container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        text-align: left;
      }
      .hero .container .left-col {
        margin: 3em 3em 0 -1em;
      }
      .hero .container .left-col h1 {
        font-size: 3em;
        width: 90%;
      }
  
    .intro {
      margin: 1em 3em 0 5em;
      width: 40em;
    }

    .footer {
      position: fixed;
      left: 0;
      bottom: 0;
      justify-content: center;
      align-items: center;
      width: 100%;
      /* padding-left: 110px; */
      /* margin-left: 30px; */
      /* margin-left: 20em; */
  }

  .foot {
    justify-content: space-between;
    align-items: center;
    width: 40em;
    margin-left: 25em;
  }
}